- let config = {}
- config.mobile = true

//- Func
mixin meta(name, content)
  meta(name=name, content=content)
mixin css(url)
  link(rel='stylesheet', href=url)


//- Page
doctype html
html
    head
        title Pugy dogy G
        +meta('author', 'Kiselev Nikolay Vadimovich')
        +meta('description', 'ssssssssssssssssss')
        +meta('robots', 'all')
        +meta('keywords', '')
        +meta('viewport', 'width=device-width, initial-scale=1, user-scalable=no')
        +css('../css/index.css')
    body
        h1 sd
        h2 sd
        h3 sd
        h4 sd
        h5 sd
        h6 sd
        p.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum ipsam cumque, molestiae explicabo unde nostrum. Eaque, consectetur a iure facere adipisci perferendis. Consequuntur, odit beatae consequatur quibusdam dicta porro assumenda!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum ipsam cumque, molestiae explicabo unde nostrum. Eaque, consectetur a iure facere adipisci perferendis. Consequuntur, odit beatae consequatur quibusdam dicta porro assumenda!
        small.
            aye
        p X
            sub 2
            sup 4
        q n,dududusdt